.searchbar__container {
    position: sticky;
    top:0;
    width: 100%;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;

    .logosearchbar__container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo__container {
            margin-right: 5px;
        }
        .search__container {
            flex:1;
            display: flex;
            text-align: center;
            justify-content: space-between;

        
            .searchbarinput__container {
                align-items: center;
                background-color: white;
                display: flex;
                justify-content: space-between;
                height: max-content;
                padding: 5px;
                border-radius: 10px;
    
                .searchbar__input{
                    flex:1;
                    outline: none;
                    border:none;
        
                }
            
                .searchbar__input:focus{
                    outline: none;
                }
        
                button {
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }
       
    

    .usersetting__container {
        display: flex;
        align-items: center;
    }
}   